<ion-item
  *ngIf="activity"
  [routerLink]="'/activity/' + activity._id"
  [detail]="false"
>
  <div *ngIf="!isDone(activity)" slot="start" [ngClass]="{'dot dot-done': isDone(activity), 'dot': !isDone(activity)}">
    <!-- <ion-badge slot="start">{{activity.priority||0}}</ion-badge> -->
  </div>

  <ion-row class="">
    <ion-note>
      <ion-icon name="alarm-outline"></ion-icon>
      {{ activity.time | date: 'HH:mm' }}
    </ion-note>
  </ion-row>

  <ion-row>
    <app-activity-type-icon
      [type]="activity.type!"
      [showLabel]="true"
    ></app-activity-type-icon>
  </ion-row>

  <ion-label class="ion-text-wrap ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-title>
        {{ activity.title }}
        <ion-note *ngIf="activity.description">
          {{ activity.description }}
        </ion-note>
      </ion-title>
    </ion-row>
  </ion-label>

  <ion-row slot="end">
    <ion-icon name="create-outline" size="small"></ion-icon>
  </ion-row>
</ion-item>

