ion-content {
	--padding-start: 10%;
	--padding-end: 10%;
	--background: url('../../../assets/images/bg.jpg')
		0 0/100% 100% no-repeat;
}
ion-row {
  height: 100%;
}
.input-group {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;
}
