.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-item{
  &.disabled{
    border-left:.15rem solid var(--ion-color-danger);
    // border-radius: 15px;
    // margin-right: 0.5rem;
    opacity: 0.5;
  }
}

code {
  white-space: pre-wrap;
}

.chip{
  &-unchecked{
    background : rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.088);
    color : var(--ion-text-color-rgb);
  }
  &-checked{
    background: var(--ion-color-primary);
  }
}
